[user]
	email = royyang901203@gmail.com
	name = royyang
[init]
	defaultBranch = main
[core]
	editor = nano
[submodule]
	recurse = true
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
